<div class="panel panel-default filterNormal">
  <div class="panel-heading">色から探す</div>
  <div class="panel-body">
    <ul class="list-unstyled">
      <li><%= link_to  "ブラック", "#" %><span>(15)</span></li>
      <li><%= link_to  "ホワイト", "#" %><span>(10)</span></li>
      <li><%= link_to  "レッド", "#" %><span>(7)</span></li>
      <li><%= link_to  "ブルー", "#" %><span>(12)</span></li>
      <li><%= link_to  "オレンジ", "#" %><span>(12)</span></li>
    </ul>
  </div>
</div>