<div class="panel panel-default filterNormal">
  <div class="panel-heading">サイズから探す</div>
  <div class="panel-body">
    <ul class="list-unstyled clearfix">
      <li><%= link_to  "S", "#" %><span>(15)</span></li>
      <li><%= link_to  "M", "#" %><span>(10)</span></li>
      <li><%= link_to  "L", "#" %><span>(7)</span></li>
      <li><%= link_to  "XL", "#" %><span>(12)</span></li>
    </ul>
  </div>
</div>
