<% provide(:title, @taxon.name) %>
<div class="main-wrapper">
  <%= render "light_section_top", taxon: @taxon %>
  <!-- MAIN CONTENT SECTION -->
  <section class="mainContent clearfix productsContent">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-4 col-xs-12 sideBar">
          <%= render "categories_section", taxonomies: @taxonomies %>
          <%= render "color_section" %>
          <%= render "size_section" %>
        </div>
        <%= render "main_content", products: @products %>
      </div>
    </div>
  </section>
  <%= render "light_section_bottom" %>
</div>